<div class="container">
  <div class="tittle text-center">
    <h1><strong style="color: green">Detail</strong> Student</h1>
  </div>
  <table class="table table-hover">
    <thead></thead>
    <tbody>
    <tr>
      <th>Name</th>
      <td class="form-control">{{student.name}}</td>
    </tr>
    <tr>
      <th>Group</th>
      <td class="form-control">{{student.group.groupName}}</td>
    </tr>
    <tr>
      <th>Name Project</th>
      <td class="form-control">{{student.nameProject}}</td>
    </tr>
    <tr>
      <th>Tutor</th>
      <td class="form-control">{{student.tutor.tutorName}}</td>
    </tr>
    <tr>
      <th>Email</th>
      <td class="form-control">{{student.email}}</td>
    </tr>
    <tr>
      <th>Phone</th>
      <td class="form-control">{{student.phone}}</td>
    </tr>
    </tbody>
  </table>
</div>
