<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="/layout :: header">
    <meta charset="UTF-8">
    <title>Contract Detail Management</title>
</head>
<body>
<div th:insert="/layout :: nav-bar"></div>
<h2 class="text-center">Contract Detail Management</h2>
<div>
    <a th:href="@{/contractdetail/create}"><button class="buttonCreate btn btn-primary" sec:authorize="hasAnyAuthority('ROLE_MANAGE', 'ROLE_PRINCIPAL')">Create New ContractDetail</button></a>
</div>
<div th:if="${message}">
    <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong><p th:text="${message}"></p></strong>
    </div>
</div>
<div class="container-fluid">
    <table class="table table-hover">
        <thead>
        <th scope="col">ID</th>
        <th scope="col">Attach Service</th>
        <th scope="col">Contract</th>
        <th scope="col">Quantity</th>
        <th scope="col">Option</th>
        </thead>
        <tbody>
        <tr th:each="contractDetail : ${contractDetailList}">
            <td th:text="${contractDetail.id}"></td>
            <td th:text="${contractDetail.attachService.name}"></td>
            <td th:text="${contractDetail.contract.service.name}"></td>
            <td th:text="${contractDetail.quantity}"></td>
            <td>
                <!--                <a th:href="@{/contract/edit/{id}(id=${contract.id})}"><button class="editButton btn btn-warning" type="button" th:value="${contract.id}" ><i class="far fa-edit"></i></button></a>-->

                                <button class="viewButton btn btn-info" type="button" th:value="${contractDetail.id}"><i class="far fa-eye"></i></button>

                <!--                <a th:href="@{/contract/delete/{id}(id=${contract.id})}"><button class="deleteButton btn btn-danger" type="button" th:value="${contract.id}" ><i class="fas fa-trash"></i></i></button></a>-->
            </td>
        </tr>
        </tbody>
    </table>
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item"><a class="page-link" th:href="@{'/contractdetail'(page=${contractDetailList.number - 1})}" th:if="${contractDetailList.hasPrevious()}">Previous</a></li>
        <li class="page-item"><a class="page-link"><span th:text="${contractDetailList.number + 1}"></span>/<span th:text="${contractDetailList.totalPages}"></span></a></li>
        <li class="page-item"><a class="page-link" th:href="@{'/contractdetail'(page=${contractDetailList.number + 1})}" th:if="${contractDetailList.hasNext()}">Next</a></li>
    </ul>
</nav>

<footer th:insert="/layout :: footer"></footer>
<script>
    $(document).ready(function () {
        $("#buttonCreate").click(function () {
            $.ajax({
                type: "GET",
                url: "/contractdetail/create",
                dataType: "HTML",
                success: function (data) {
                    $(".modal-body").html(data);
                    $("#modelId").modal('show');
                }
            });
        });
        // edit button modal
        $(".editButton").click(function () {
            $.ajax({
                type: "GET",
                url: "/customer/edit?id=" + $(this).val(),
                dataType: "HTML",
                success: function (data) {
                    $(".modal-body").html(data);
                    $("#modelId").modal('show');
                }
            });
        });
        // // view
        // $(".viewButton").click(function () {
        //     $.ajax({
        //         type: "GET",
        //         url: "/customer/view?id=" + $(this).val(),
        //         dataType: "HTML",
        //         success: function (data) {
        //             $(".modal-body").html(data);
        //             $("#modelId").modal('show');
        //         }
        //     });
        // });
        //    delete
        $(".deleteButton").click(function () {
            $.ajax({
                type: "GET",
                url: "/customer/delete?id=" + $(this).val(),
                dataType: "HTML",
                success: function (data) {
                    $(".modal-body").html(data);
                    $("#modelId").modal('show');
                }
            });
        });

        //    search
        $(".buttonSearch").click(function (ev){

            $.ajax({
                type: "GET",
                url: "/customer/search?inputSearch=" + $(".search").val(),
                dataType: "HTML",
                success: function (data) {
                    $("#dataSearch").html(data);

                }
            })
        })
    });
</script>
</body>
</html>