<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="/layout :: header">
    <meta charset="UTF-8">
    <title>Employee Management</title>
</head>
<body id="dataSearch">
<div th:insert="/layout :: nav-bar"></div>
<div>
    <a th:href="@{/employee/create}"><button class="btn-primary mt-3" style="margin-left: 10rem!important;" sec:authorize="hasAnyAuthority('ROLE_MANAGE', 'ROLE_PRINCIPAL')"><i class="far fa-address-card"></i></button></a>
</div>
<div th:if="${message}">
    <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong><p th:text="${message}"></p></strong>
    </div>
</div>
<h2 class="text-center">Employee Management</h2>
<div class="container-fluid">
    <table class="table table-hover">
        <thead>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Birthday</th>
        <th scope="col">Id Card</th>
        <th scope="col">Salary</th>
        <th scope="col">Phone</th>
        <th scope="col" hidden>Email</th>
        <th scope="col">Address</th>
        <th scope="col">Position</th>
        <th scope="col">Division</th>
        <th scope="col">Degree</th>
        <th scope="col">UserName</th>
        <th scope="col">Option</th>
        </thead>
        <tbody>
        <tr th:each="employee : ${employeeList}">
            <td th:text="${employee.id}"></td>
            <td th:text="${employee.name}"></td>
            <td th:text="${employee.birthday}"></td>
            <td th:text="${employee.idCard}"></td>
            <td th:text="${employee.salary}"></td>
            <td th:text="${employee.phoneNumber}"></td>
            <td th:text="${employee.email}" hidden></td>
            <td th:text="${employee.address}"></td>
            <td th:text="${employee.position.name}"></td>
            <td th:text="${employee.division.name}"></td>
            <td th:text="${employee.educationDegree.name}"></td>
            <td th:text="${employee.user.name}"></td>
            <td>
                <a th:href="@{/employee/edit/{id}(id=${employee.id})}"><button class="editButton btn btn-warning" type="button" th:value="${employee.id}" sec:authorize="hasAnyAuthority('ROLE_MANAGE', 'ROLE_PRINCIPAL')"><i class="far fa-edit"></i></button></a>

                <button class="viewButton btn btn-info" type="button" th:value="${employee.id}"><i class="far fa-eye"></i></button>

                    <a th:href="@{/employee/delete/{id}(id=${employee.id})}"><button class="deleteButton btn btn-danger" type="button" th:value="${employee.id}" sec:authorize="hasAnyAuthority('ROLE_MANAGE', 'ROLE_PRINCIPAL')"><i class="fas fa-trash"></i></i></button></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item"><a class="page-link" th:href="@{'/employee'(page=${employeeList.number - 1})}" th:if="${employeeList.hasPrevious()}">Previous</a></li>
        <li class="page-item"><a class="page-link"><span th:text="${employeeList.number + 1}"></span>/<span th:text="${employeeList.totalPages}"></span></a></li>
        <li class="page-item"><a class="page-link" th:href="@{'/employee'(page=${employeeList.number + 1})}" th:if="${employeeList.hasNext()}">Next</a></li>
    </ul>
</nav>

<footer th:insert="/layout :: footer"></footer>
<script>
    $(document).ready(function () {
        // $("#btnModalCreate").click(function () {
        //     $.ajax({
        //         type: "GET",
        //         url: "/employee/create",
        //         dataType: "HTML",
        //         success: function (data) {
        //             $(".modal-body").html(data);
        //             $("#modelId").modal('show');
        //         }
        //     });
        // });
        // // edit button modal
        // $(".editButton").click(function () {
        //     $.ajax({
        //         type: "GET",
        //         url: "/employee/edit?id=" + $(this).val(),
        //         dataType: "HTML",
        //         success: function (data) {
        //             $(".modal-body").html(data);
        //             $("#modelId").modal('show');
        //         }
        //     });
        // });
        // // // view
        // // $(".viewButton").click(function () {
        // //     $.ajax({
        // //         type: "GET",
        // //         url: "/customer/view?id=" + $(this).val(),
        // //         dataType: "HTML",
        // //         success: function (data) {
        // //             $(".modal-body").html(data);
        // //             $("#modelId").modal('show');
        // //         }
        // //     });
        // // });
        // //    delete
        // $(".deleteButton").click(function () {
        //     $.ajax({
        //         type: "GET",
        //         url: "/employee/delete?id=" + $(this).val(),
        //         dataType: "HTML",
        //         success: function (data) {
        //             $(".modal-body").html(data);
        //             $("#modelId").modal('show');
        //         }
        //     });
        // });

        //    search
        $(".buttonSearch").click(function (){

            $.ajax({
                type: "GET",
                url: "/employee/search?inputSearch=" + $(".search").val(),
                dataType: "HTML",
                success: function (data) {
                    $("#dataSearch").html(data);

                }
            })
        })
    });
</script>
</body>
</html>