<h2 style="text-align: center;">Product List!</h2>

<div class="container">
<table class="table">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Iphone 13</td>
            <td>2000</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Macbook M1x</td>
            <td>1900</td>
        </tr>
    </tbody>
</table>
</div>
