<div class="card border-success mt-4">
  <h3>Create new <b style="color: green">Product </b></h3>
  <div class="card-body">
    <div class="form-group">
    <label >ID</label>
    <input type="text" class="form-control" #id>
    </div>
    <div class="form-group">
      <label >Name</label>
      <input type="text" class="form-control" #name>
    </div>
    <div class="form-group">
      <label >Cost</label>
      <input type="text" class="form-control" #cost>
    </div>
    <div class="form-group">
      <label >Date Start</label>
      <input type="text" class="form-control" #dateStart>
    </div>
    <div class="form-group">
      <label >Location</label>
      <select name="location" class="form-control" #location>
        <option value="China">China</option>
        <option value="VietNam">VietNam</option>
        <option value="England">England</option>
        <option value="USA">USA</option>
      </select>
    </div>
    <div class="form-group">
      <label >Quantity</label>
      <input type="number" class="form-control" #quantity>
    </div>
    <button type="button" class="btn btn-primary" (click)="createProduct(id.value, name.value, cost.value,
    dateStart.value, location.value, quantity.value)">Create</button>
  </div>
</div>

