<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Customer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<body>
<h2>Create New Customer</h2>
<a th:href="@{/}"><button class="btn btn-success">Back to customer List</button></a>
<div>
    <form th:action="@{/save}" th:object="${customer}" method="post">
        <div>
            <label>ID</label>
            <input type="number" th:field="*{id}">
        </div>
        <div>
            <label>FirstName</label>
            <input type="text" th:field="*{firstName}">
        </div>
        <div>
            <label>LastName</label>
            <input type="text" th:field="*{lastName}">
        </div>
        <div>
            <input type="submit" value="Save"/>
        </div>
    </form>
</div>
</body>
</html>