
<div class="container-fluid" xmlns:th="http://www.thymeleaf.org">
        <form th:action="@{/contract/update}" method="post" th:object="${contract}">
            <table class="table table-hover">
            <input type="hidden" th:field="*{id}">
            <tr>
                <th>Name</th>
                <td><input type="text" th:field="*{product.name}" class="form-control"></td>
            </tr>
            <tr>
                <th>Product Type</th>
                <td>
                    <select th:field="*{product.productType}" class="form-control">
                        <option th:each="productType : ${productTypeList}" th:value="${productType.id}" th:text="${productType.name}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>Date Buy</th>
                <td><input type="date" th:field="*{date_buy}" class="form-control"></td>
                <td th:if="${#fields.hasErrors('date_buy')}" th:errors="*{date_buy}" style="color: red">Date Error</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td><input type="number" th:field="*{quantity}" class="form-control"></td>
                <td th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}" style="color: red">ID Error</td>
            </tr>
            <tr>
                <th></th>
                <td><input class="btn btn-primary" type="submit" value="Save"></td>
            </tr>
    </table>
        </form>
</div>