<div class="container" xmlns:th="http://www.thymeleaf.org">

        <table class="table table-hover">
            <thead>
            <th scope="col">Contract Id</th>
            <th scope="col">Contract Detail ID</th>
            <th scope="col">Attach Service</th>
            <th scope="col">Cost</th>
            <th scope="col">Quantity</th>
            </thead>
            <tbody>
                <tr th:each="contractDetail : ${contractDetailList}">
                    <td th:text="${contractDetail.contract.id}"></td>
                    <td th:text="${contractDetail.id}"></td>
                    <td th:text="${contractDetail.attachService.name}"></td>
                    <td th:text="${contractDetail.attachService.cost}"></td>
                    <td th:text="${contractDetail.quantity}"></td>
                </tr>
            <tr>
                <th>Total Money</th>
                <td th:text="${contract.total}"></td>
            </tr>
            <tr>
                <td><button type="submit" class="btn btn-primary">Save</button></td>
            </tr>
            </tbody>

        </table>

</div>