<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="/layout :: header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <form th:action="@{/customer/delete}" method="get" th:object="${customer}">
        <table class="table-hover">
        <thead></thead>
            <tr>
            <th>ID</th>
            <td><input type="text" th:field="*{id}"></td>
            </tr>

        <tr>
            <th>Name</th>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
            <tr>
                <input type="submit" value="Delete"/>
            </tr>
        </table>
    </form>
</div>

<footer th:insert="/layout :: footer"></footer>
</body>
</html>