<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{layout :: head}">
    <meta charset="UTF-8">
    <title>Edit Information Customer</title>
</head>
<body>
<div class="container">
    <form th:action="@{/customer/update}" th:object="${customer}" method="post">
        <table class="table table-hover">
            <thead></thead>

            <tr>
                <th>ID</th>
                <td><input type="text" th:field="*{id}"></td>
                <td th:if="${#fields.hasErrors('id')}" th:errors="*{id}" style="color: red">Id Invalid</td>
            </tr>

            <tr>
                <th>Name</th>
                <td><input type="text" th:field="*{name}"></td>
                <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red">Name Invalid</td>
            </tr>
            <tr>
                <th>Customer Type</th>
                <td>
                    <select th:field="*{customerType.id}" class="form-control">
                        <option value="1">Diamond</option>
                        <option value="2">Platinum</option>
                        <option value="3">Gold</option>
                        <option value="4">Silver</option>
                        <option value="5">Member</option>
                    </select>
                </td>
            </tr>

            <tr>
                <th>Birthday</th>
                <td><input type="date" th:field="*{birthday}"></td>
                <td th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}" style="color: red">Birthday Invalid</td>
            </tr>

            <tr>
                <th>Id Card</th>
                <td><input type="text" th:field="*{idCard}"></td>
                <td th:if="${#fields.hasErrors('idCard')}" th:errors="*{idCard}" style="color: red">Name Invalid</td>
            </tr>
            <tr>
                <th>Phone Number</th>
                <td><input type="text" th:field="*{phoneNumber}"></td>
                <td th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" style="color: red">Phone Invalid</td>
            </tr>


            <tr>
                <th>Gender</th>
                <td>
                    <select th:field="*{gender}" >
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </td>
            </tr>

            <tr>
                <th>Email</th>
                <td><input type="text" th:field="*{email}"></td>
                <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: red">Name Invalid</td>
            </tr>

            <tr>
                <th>Address</th>
                <td><input type="text" th:field="*{address}"></td>
                <td th:if="${#fields.hasErrors('address')}" th:errors="*{address}" style="color: red">Name Invalid</td>
            </tr>

<!--            <tr>-->
<!--                <th>Code</th>-->
<!--                <td><input type="text" th:field="*{code}"></td>-->
<!--            </tr>-->
            <tr>
                <th></th>
                <td><input type="submit" value="Save" class="btn btn-primary profile-button"></td>
            </tr>


        </table>
    </form>
</div>


<footer th:insert="/layout :: footer"></footer>
</body>
</html>