
<div class="container" xmlns:th="http://www.thymeleaf.org">

        <form action="/contractdetail/save" method="post" th:object="${contractDetail}">
            <table class="table table-hover">
                <thead></thead>
                <tbody>
            <input type="hidden" th:field="*{id}">
            <input type="hidden" name="idContract" th:value="${idContract}">

            <tr>
                <th>Attach Service</th>
                <td>
                    <select class="form-control" th:field="*{attachService}">
                        <option th:each="attach : ${listAttachService}"
                                th:value="${attach.id}" th:text="${attach.name}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td><input type="number" th:field="*{quantity}"></td>
            </tr>
            <tr>
                <th></th>
                <td>
                    <button type="submit" class="btn btn-primary">Save</button>
                </td>
            </tr>
                </tbody>
            </table>
        </form>

</div>
