<div class="container-fluid">
  <div class="table-wrapper">
    <div class="table-tittle">
      <div class="row">
        <div class="col-sm-11">
          <h2 class="text-center"><b style="color: green">Product</b> Management</h2>
          <button class="btn btn-info" style="margin-left: 30px; margin-top: 5px">Add New <i class="fas fa-balance-scale-left"></i></button>
        </div>
      </div>
    </div>
  </div>
  <br><br>
  <table class="table table-striped table-hover">
    <thead>
    <th scope="col">#</th>
    <th scope="col">ID</th>
    <th scope="col">Name</th>
    <th scope="col">Cost</th>
    <th scope="col">Date Start</th>
    <th scope="col">Location</th>
    <th scope="col">Quantity</th>
    </thead>
    <tbody *ngIf="arrProduct.length !=0; else elseArrProduct">
    <tr *ngFor="let product of arrProduct; let  i = index" (click)="showDetailProduct(product)">
      <td>{{ i + 1 }}</td>
      <td>{{ product.id }}</td>
      <td>{{ product.name | titlecase }}</td>
      <td>{{ product.cost | currency: 'VND' }}</td>
      <td>{{ product.dateStart | date: 'dd/MM/yyyy' }}</td>
      <td>{{ product.location }}</td>
      <td>
        <span *ngIf="product.quantity == 0">Out of stock</span>
        <span *ngIf="product.quantity > 0 && product.quantity < 10">In stock a little</span>
        <span *ngIf="product.quantity >= 10">In stock</span>
      </td>
    </tr>
    </tbody>
  </table>
  <div #elseArrProduct>
    <p style="color: red"><b>Out of stock. Please add new product !</b></p>
  </div>
  <div class="col-6">
    <app-detail [productAB]="product"></app-detail>
    <app-create (productCreate)="onGetProduct($event)"></app-create>
  </div>
</div>
