<div class="email-thumb-header container col-6">
  <table align="center" border="0">
    <tbody>
      <tr align="center" valign=top>
        <div>
          <small class="text-muted">
            "1 month, 2 week ago - "
            "do-not-reply@trello.com"
          </small>
        </div>
        <div>
          <strong>
            "James Jonas joined Trello on your recommendation. You earned a free month of Trello Gold"
          </strong>
          <small>
            " - Jame Jonas joined Trello on your recommentdation. Enjoy one month of Trello Gold on us! View Your ..."
          </small>
        </div>
        <div>
          <img src="../assets/image/Trello-la-gi.jpeg" >
        </div>
      </tr>
      <tr>
        <td align="center" valign=top>
          <table bgcolo="#FFFFFF" border="0">
            <tr>
              <td style="text-align: left; padding: 40px 0 40px 40px;">
                  <img align="left" height="150" src="../assets/image/impostor_3_tiny.png" style="display: inline-block;" width="150">
              </td>
              <td style="text-align: left; padding: 40px;">
                  <h3 style="text-align: left; padding: 40px;">Feel Like A Fraud</h3>
                  <p style="text-align: left; color: blueviolet;" >
                  Impostor Syndrome can happen to anyone. Learn more some new techniques for dealing with your doubt.
                  </p>
                  <br>
                  <table border="0" cellpadding="14" cellspacing="0" class="button main" style="background-color: chartreuse; border-radius: 6px; color: cornsilk; cursor: pointer; display: inline-block; font-size: 24px; font-weight: blod; text-align: center;">
                    <tbody>
                      <tr>
                        <td align="center" class="emailButtonContent" valign="middle">
                          <a href="#" style="text-decoration: none; padding: 10px;" target="_blank"></a>
                          <font color="white">Know Your Worth</font>
                        </td>
                      </tr>
                    </tbody>
                  </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </tbody>
  </table>

</div>
