<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
<body>
<nav th:replace="/layout :: navbar"></nav>
<h3>Add Blog</h3>
<p>
    <a th:href="@{/}">
        Back to blog list
    </a>
</p>

<div>

    <form action="#" th:action="@{/blog/save}" th:object="${blog}"
          method="POST" novalidate="novalidate">
        <table class="table table-hover">
            <thead></thead>
            <tr>
                <th>ID</th>
                <td><input type="hidden" th:field="*{id}"></td>
            </tr>
            <tr>
                <th>Author</th>
                <td><input type="text" th:field="*{author}"></td>
            </tr>
            <tr>
                <th>Blog Page</th>
                <td><input type="text" th:field="*{blogPage}"></td>
            </tr>
            <tr>
                <th>Category</th>
                <td>
                    <select th:field="*{category}">
                        <option th:each="cate : ${category}" th:value="${cate.id}" th:text="${cate.name}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><input type="submit" value="Save"/></td>
            </tr>
        </table>

    </form>
</div>
</body>
</html>