<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
<body>
<nav th:replace="/layout :: navbar"></nav>
<h3>Add Blog</h3>
<p>
    <a th:href="@{/blog/}">
        Back to blog list
    </a>
</p>
<div id="form">
    <form action="#" th:action="@{/blog/edit}" th:object="${blog}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{id}" />
        <div>
            <label>Author</label>
            <input type="text" th:field="*{author}"/>
        </div>
        <div>
            <label>Blog Page</label>
            <textarea  th:field="*{blogPage}" />
        </div>
            <input type="hidden" th:field="*{writeDate}"/>
        <div>
            <label>Category</label>
            <select th:field="*{category}">
                <option th:each="c : ${category}" th:value="${c.id}" th:text="${c.name}"></option>
            </select>
        </div>
        <input type="submit" value="Update"/>
    </form>
</div>
</body>
</html>