<div class="container col-6">
<div class="card border-success">
<div class="card-body">
  <h4 class="card-title text-center"><b style="color: goldenrod">Login</b></h4>
  <form #userLogin="ngForm" (ngSubmit)="onSubmitForm(userLogin)" autocomplete="off">
    <table class="table border-success">
      <thead></thead>
      <tbody>
      <tr>
        <th>Email</th>
        <td>
          <input class="form-control" type="email" #email="ngModel" [(ngModel)]="user.email" name="email" required="required" email placeholder="ex: abc@abc.abc">
          <span *ngIf="email.touched && email.errors?.required" style="color: red">Required input</span>
          <span *ngIf="email.touched && email.errors?.email" style="color: red">Invalid Email</span>
        </td>
      <tr>
        <th>Password</th>
        <input type="password" class="form-control"  #password="ngModel" [(ngModel)]="user.password" required="required" name="txtPassWord" minlength="6">
        <span *ngIf="password.touched && password.errors?.required" style="color: red">Required input</span>
        <span *ngIf="password.touched && password.errors?.minlength" style="color: red">Password must better than 6 characters</span>
      </tr>
        <tbody>

    </tbody>
      <br>
      <div class="text-center">
      <button type="submit" class="btn btn-primary">Login</button>
        &nbsp;&nbsp;
      <button type="reset" class="btn btn-danger">Cancel</button>
      </div>
    </table>
  </form>
</div>
</div>
</div>
<!--validate email-->
<!--pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"-->
